#page {
    text-align: center;
    
}

.title {
    background-color: grey;
    border: solid 1px black;
    padding-bottom: 10px;
    
}

.table {
    align-items: center;
}

#table_list {
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    justify-content: space-around;
}

.footer {
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.349);
    border: solid 1px black;
}

.color {
    color: white;
}












