#page {
    text-align: center;
    
}

h1 {
    background-color: grey;
    border: solid 1px black
}

.table {
    align-items: center;
}

#table_list {
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    justify-content: space-around;
}














